Repository fimars/Hell: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --syntax=scss --fix

fix siteConfig.base not work.
  packages/helldoc-core/app/components/App.tsx
  packages/helldoc-core/app/components/Page.tsx
  packages/helldoc-core/src/dev.ts
  packages/helldoc-core/src/prepare/resolveOptions.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
Due: prettier --write

update CHANGELOG
  CHANGELOG.md
Due: prettier --write

v0.2.10
  lerna.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

hotfix ignore default value
  packages/helldoc-core/src/prepare/resolveOptions.ts
Due: prettier --write

add head config support
  packages/helldoc-core/package.json
  packages/helldoc-core/src/dev.ts
  packages/helldoc-core/src/prepare/resolveOptions.ts
  packages/helldoc-core/src/prod.ts
  packages/helldoc-core/src/webpack/HeadPlugin.ts
  packages/helldoc-core/src/webpack/createClientConfig.ts
Due: prettier --write

for better serve static files
  packages/helldoc-core/src/dev.ts
  packages/helldoc-core/src/prepare/resolveOptions.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
Due: prettier --write

fix typo
  package.json
Due: none

remove default typescript support of app
  packages/helldoc-core/app/tsconfig.json
  packages/helldoc-core/assets/index.template.html
  packages/helldoc-core/assets/theme/abstracts/_mixin.scss
  packages/helldoc-core/assets/theme/abstracts/_theme.scss
  packages/helldoc-core/assets/theme/abstracts/_variables.scss
  packages/helldoc-core/assets/theme/abstracts/mixins/_border-radius.scss
  packages/helldoc-core/assets/theme/abstracts/mixins/_box-shadow.scss
  packages/helldoc-core/assets/theme/abstracts/mixins/_columns.scss
  packages/helldoc-core/assets/theme/abstracts/mixins/_transition.scss
  packages/helldoc-core/assets/theme/base/_typography.scss
  packages/helldoc-core/assets/theme/components/_button.scss
  packages/helldoc-core/assets/theme/components/_list.scss
  packages/helldoc-core/assets/theme/index.scss
  packages/helldoc-core/assets/theme/layout/_columns.scss
  packages/helldoc-core/assets/theme/layout/_section.scss
  packages/helldoc-core/assets/theme/vendors/_markdown.scss
  packages/helldoc-core/assets/theme/vendors/_reset.scss
  packages/helldoc-core/package.json
  packages/helldoc-core/src/__tests__/fixtures/A.md
  packages/helldoc-core/src/__tests__/fixtures/B.md
  packages/helldoc-core/src/__tests__/prepare.test.ts
  packages/helldoc-core/src/app/app.tsx
  packages/helldoc-core/src/app/components/App.tsx
  packages/helldoc-core/src/app/components/Heading.tsx
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/NotFound.tsx
  packages/helldoc-core/src/app/components/Page.tsx
  packages/helldoc-core/src/app/components/PageLayout.tsx
  packages/helldoc-core/src/app/components/Toc.tsx
  packages/helldoc-core/src/app/site-data.d.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
  packages/helldoc-core/src/webpack/createClientConfig.ts
  packages/helldoc-core/src/webpack/util.ts
  packages/helldoc-core/tsconfig.json
  yarn.lock
Due: prettier --write, stylelint --syntax=scss --fix

add circleci
  .circleci/config.yml
Due: none

yarn
  package.json
Due: none

add createTemp
  .gitignore
  .npmignore
  packages/helldoc-core/src/app/components/App.tsx
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Page.tsx
  packages/helldoc-core/src/app/internal.d.ts
  packages/helldoc-core/src/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/prepare/index.ts
  packages/helldoc-core/src/prepare/resolveOptions.ts
  packages/helldoc-core/src/prepare/util.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
  packages/helldoc-core/src/webpack/createClientConfig.ts
Due: prettier --write

remove config files cache
  packages/helldoc-core/src/app/components/Page.tsx
  packages/helldoc-core/src/dev.ts
  packages/helldoc-core/src/prepare/resolveOptions.ts
Due: prettier --write

fix($core): know issue: https://github.com/webpack/watchpack/issues/25
  packages/helldoc-core/package.json
  packages/helldoc-core/src/webpack/createClientConfig.ts
Due: prettier --write

chore($workflow): stylelint ignore tsx files
  .stylelintrc
Due: none

$app: add siteConfig.themeConfig, tweaks default theme style
  docs/hell.config.js
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/PageLayout.tsx
  packages/helldoc-core/src/app/internal.d.ts
  packages/helldoc-core/src/dev.ts
  packages/helldoc-core/src/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/prepare/index.ts
  packages/helldoc-core/src/prepare/resolveOptions.ts
  packages/helldoc-core/src/prod.ts
  packages/helldoc-core/src/types.ts
  packages/helldoc-core/src/webpack/HeadPlugin.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
  packages/helldoc-core/src/webpack/createClientConfig.ts
Due: prettier --write

chore($app): tweaks style
  packages/helldoc-core/assets/theme/abstracts/_variables.scss
  packages/helldoc-core/assets/theme/components/_list.scss
  packages/helldoc-core/assets/theme/layout/_section.scss
  packages/helldoc-core/src/app/components/PageLayout.tsx
Due: prettier --write, stylelint --syntax=scss --fix

chore(): tweaks style
  packages/helldoc-core/assets/theme/vendors/_markdown.scss
Due: stylelint --syntax=scss --fix

chore($app): tweaks style
  packages/helldoc-core/assets/theme/layout/_section.scss
  packages/helldoc-core/src/app/components/NavBar.tsx
Due: prettier --write, stylelint --syntax=scss --fix

chore($app): set default value of nav
  packages/helldoc-core/src/app/components/NavBar.tsx
Due: prettier --write

v0.2.11
  lerna.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

feat($cli): add default sourceDir
  packages/helldoc-cli/src/index.ts
Due: prettier --write

fix($core): resolve siteConfig.dest path
  packages/helldoc-core/src/prepare/resolveOptions.ts
Due: prettier --write

chore($doc): add docs
  docs/CHANGELOG.md
  docs/README.md
  docs/assets/css/1.styles.438f2748.css
  docs/assets/js/2.965af21b.js
  docs/assets/js/app.a287f1a1.js
  docs/assets/js/styles.438f2748.js
  docs/favicon.png
  docs/hell.config.js
  docs/hell.png
  docs/index.html
  package.json
  packages/docs/README.md
  packages/docs/hell.config.js
  packages/docs/package.json
  packages/docs/public/favicon.png
  packages/docs/public/hell.png
Due: prettier --write

v0.2.12
  lerna.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

fix($app): fix miss themeConfig error, add default NavBar render rule
  packages/helldoc-core/src/app/components/NavBar.tsx
Due: prettier --write

v0.2.13
  lerna.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

[ New Feature ] sidebar
  package.json
  packages/docs/hell.config.js
  packages/helldoc-core/assets/index.template.html
  packages/helldoc-core/assets/theme/abstracts/mixins/_columns.scss
  packages/helldoc-core/assets/theme/components/_list.scss
  packages/helldoc-core/assets/theme/index.scss
  packages/helldoc-core/assets/theme/layout/_columns.scss
  packages/helldoc-core/assets/theme/layout/_section.scss
  packages/helldoc-core/assets/theme/mobile/_mobile.scss
  packages/helldoc-core/assets/theme/mobilesidebar/_sidebar.scss
  packages/helldoc-core/assets/theme/navbar/_Navbar.scss
  packages/helldoc-core/src/app/components/App.tsx
  packages/helldoc-core/src/app/components/Heading.tsx
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Page.tsx
  packages/helldoc-core/src/app/components/PageLayout.tsx
  packages/helldoc-core/src/app/components/Toc.tsx
  packages/helldoc-core/src/app/reduxActions/actions.ts
  packages/helldoc-core/src/app/reduxReducer/reducer.ts
  packages/helldoc-core/src/types.ts
  yarn.lock
Due: prettier --write, stylelint --syntax=scss --fix

chore(): use localhost for all platform
  packages/helldoc-core/src/dev.ts
Due: prettier --write

'Pre-commit'
  packages/helldoc-core/assets/theme/base/_typography.scss
  packages/helldoc-core/assets/theme/mobilesidebar/_sidebar.scss
  packages/helldoc-core/assets/theme/navbar/_Navbar.scss
Due: stylelint --syntax=scss --fix

'Pre-commit'
  packages/helldoc-core/assets/theme/mobilesidebar/_sidebar.scss
Due: stylelint --syntax=scss --fix

Stlye: sidebar style
  packages/helldoc-core/assets/theme/mobilesidebar/_sidebar.scss
Due: stylelint --syntax=scss --fix

[ Style ] Sidebar style scss file move to components
  eixt
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_mobile.scss
  packages/helldoc-core/assets/theme/components/_sidebar.scss
  packages/helldoc-core/assets/theme/index.scss
Due: stylelint --syntax=scss --fix

[ Style ] styling
  packages/helldoc-core/assets/theme/components/_sidebar.scss
Due: stylelint --syntax=scss --fix

[ Style ] Sidebar width remove file mobile.scss
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_mobile.scss
  packages/helldoc-core/assets/theme/index.scss
Due: stylelint --syntax=scss --fix

Path conditions:
  prettier --write: any of: *.{ts,tsx,md}
  stylelint --syntax=scss --fix: any of: *.scss
