Repository fimars/Hell: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --syntax=scss --fix

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx,md}": ["prettier --write", "git add"],
    "*.scss": ["stylelint --syntax=scss --fix", "git add"]
  },
  "ignore": ["**/_reset.scss", "**/_markdown.scss"]
}

add CLI v0.0.1
  build/bin/hell.js
  build/dev.js
  build/prod.js
  lib/app/components/App.tsx
  lib/bin/hell.ts
  lib/dev.ts
  lib/prod.ts
  lib/tsconfig.core.json
  package-lock.json
  package.json
  test/jest.config.json
  test/setupJest.js
Due: prettier --write

change webpack and plugins context path
  build/bin/hell.js
  build/dev.js
  build/prod.js
  build/webpack/createBaseConfig.js
  build/webpack/findLinkedModules.js
  lib/app/index.template.html
  lib/app/markdown-module.d.ts
  lib/bin/hell.ts
  lib/dev.ts
  lib/prod.ts
  lib/webpack/createBaseConfig.ts
  lib/webpack/findLinkedModules.ts
  package-lock.json
  package.json
Due: prettier --write

v0.1.0
  build/dev.js
  lib/app/components/App.tsx
  lib/app/components/FileFetcher.tsx
  lib/app/components/Heading.tsx
  lib/app/components/JumpMan.tsx
  lib/app/components/NavBar.tsx
  lib/app/components/Page.tsx
  lib/app/components/Toc.tsx
  lib/default-theme/components/_button.scss
  lib/default-theme/components/_list.scss
  lib/default-theme/index.scss
  lib/default-theme/pages/doc.scss
  lib/dev.ts
  lib/webpack/findLinkedModules.ts
  package.json
Due: prettier --write, stylelint --syntax=scss --fix

Better README
  README.md
  package.json
Due: prettier --write

v0.1.1
  package.json
Due: none

v0.1.2
  README.md
  package.json
Due: prettier --write

v0.1.3
  README.md
  package.json
Due: prettier --write

v0.1.4
  build/bin/hell.js
  build/webpack/createBaseConfig.js
  build/webpack/findLinkedModules.js
  build/webpack/markdownLoader.js
  lib/tsconfig.core.json
  lib/webpack/createBaseConfig.ts
  lib/webpack/createClientConfig.ts
  package.json
Due: prettier --write

v0.2.0
  lib/app/components/Page.tsx
  lib/app/components/Toc.tsx
  package.json
Due: prettier --write

v0.2.1
  CHANGELOG.md
Due: prettier --write

v0.2.1
  CHANGELOG.md
  package.json
Due: prettier --write

update license
  LICENSE
Due: none

tweaks style
  lib/app/components/Heading.tsx
  lib/app/components/PageLayout.tsx
  lib/default-theme/abstracts/mixins/_columns.scss
  lib/default-theme/components/_list.scss
  lib/default-theme/layout/_columns.scss
Due: prettier --write, stylelint --syntax=scss --fix

add config support
  build/prepare/resolveOptions.js
  lib/app/.temp/siteData.d.ts
  lib/app/components/Page.tsx
  lib/prepare/resolveOptions.ts
  lib/prod.ts
  package-lock.json
  package.json
Due: prettier --write

open flag --noImplicitAny
  build/dev.js
  build/util/index.js
  build/webpack/createBaseConfig.js
  lib/app/tsconfig.json
  lib/dev.ts
  lib/prepare/index.ts
  lib/prepare/resolveOptions.ts
  lib/prod.ts
  lib/tsconfig.core.json
  lib/util/index.ts
  lib/webpack/createBaseConfig.ts
  lib/webpack/createClientConfig.ts
  package-lock.json
  package.json
Due: prettier --write

rewrite resolveOptions
  build/prepare/genRegistrationFile.js
  build/prepare/index.js
  build/prepare/util.js
  build/webpack/createBaseConfig.js
  build/webpack/markdownLoader.js
  lib/app/.temp/siteData.d.ts
  lib/app/components/NavBar.tsx
  lib/app/components/Page.tsx
  lib/dev.ts
  lib/prepare/genRegistrationFile.ts
  lib/prepare/genRoutersFile.ts
  lib/prepare/index.ts
  lib/prepare/resolveOptions.ts
  lib/prepare/util.ts
  lib/webpack/createBaseConfig.ts
  lib/webpack/createClientConfig.ts
  lib/webpack/markdownLoader.ts
  package-lock.json
  package.json
Due: prettier --write

tweaks dev config
  build/webpack/createBaseConfig.js
  lib/app/components/JumpMan.tsx
  lib/app/components/Toc.tsx
  lib/webpack/createBaseConfig.ts
Due: prettier --write

release v0.2.2
  CHANGELOG.md
  package.json
Due: prettier --write

Update README.md
  README.md
  package.json
Due: prettier --write

fix version
  .gitignore
  package.json
  packages/helldoc-app/src/.temp/siteData.js
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

v0.2.3
  lerna.json
  packages/helldoc-app/package.json
  packages/helldoc-cli/package.json
Due: none

v0.2.4
  lerna.json
  packages/helldoc-app/package.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

add npmignore
  packages/helldoc-cli/.npmignore
  packages/helldoc-core/.npmignore
Due: none

v0.2.5
  lerna.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

use better command
  packages/helldoc-cli/package.json
Due: none

v0.2.6
  lerna.json
  packages/helldoc-cli/package.json
Due: none

update CHANGELOG
  CHANGELOG.md
Due: prettier --write

v0.2.7
  lerna.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

update README
  README.md
Due: prettier --write

need typescript as runtime deps now
  packages/helldoc-core/package.json
  yarn.lock
Due: none

v0.2.8
  lerna.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

add jest
  .npmignore
  jest.config.js
  package.json
  packages/helldoc-cli/.npmignore
  tsconfig.json
  yarn.lock
Due: none

add test-case
  packages/helldoc-core/src/__test__/fixtures/A.md
  packages/helldoc-core/src/__test__/fixtures/B.md
  packages/helldoc-core/src/__test__/prepare.test.ts
  packages/helldoc-core/src/util/index.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
  packages/helldoc-core/src/webpack/createClientConfig.ts
  packages/helldoc-core/src/webpack/util.ts
Due: prettier --write

chore($hell-core): tweaks some module struct, make logs info more friendly
  packages/helldoc-core/app/components/Page.tsx
  packages/helldoc-core/app/site-data.d.ts
  packages/helldoc-core/package.json
  packages/helldoc-core/src/dev.ts
  packages/helldoc-core/src/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/prepare/resolveOptions.ts
  packages/helldoc-core/src/prepare/util.ts
  packages/helldoc-core/src/webpack/DevLogPlugin.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
  yarn.lock
Due: prettier --write

release 0.2.9
  CHANGELOG.md
  packages/helldoc-cli/src/index.ts
  packages/helldoc-core/app/components/Page.tsx
  packages/helldoc-core/app/theme/vendors/_markdown.scss
  packages/helldoc-core/src/dev.ts
  packages/helldoc-core/src/prepare/index.ts
  packages/helldoc-core/src/prepare/resolveOptions.ts
  packages/helldoc-core/src/prod.ts
  packages/helldoc-core/src/webpack/DevLogPlugin.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
  packages/helldoc-core/src/webpack/markdownLoader.ts
Due: prettier --write, stylelint --syntax=scss --fix

v0.2.9
  lerna.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none
