Repository fimars/Hell: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --syntax=scss --fix

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx,md}": ["prettier --write", "git add"],
    "*.scss": ["stylelint --syntax=scss --fix", "git add"]
  },
  "ignore": ["**/_reset.scss", "**/_markdown.scss"]
}

fix($core): deps error
  packages/helldoc-core/package.json
Due: none

v0.4.1
  lerna.json
  packages/docs/package.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

tweaks search component
  packages/helldoc-cli/src/index.ts
  packages/helldoc-core/.npmignore
  packages/theme-default/src/components/Search.tsx
  packages/theme-default/styles/components/_search-box.scss
Due: prettier --write, stylelint --syntax=scss --fix

update README.md
  README.md
Due: prettier --write

add publish script, remove skip
  packages/helldoc-core/src/node/__tests__/prepare.test.ts
  scripts/publish.sh
Due: prettier --write

set default nav
  packages/theme-default/src/themeConfig.ts
Due: prettier --write

v0.5.0
  lerna.json
  packages/docs/package.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
  packages/theme-default/package.json
Due: none

update CHANGELOG
  CHANGELOG.md
Due: prettier --write

perf(add @loadable for code-split):
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/app.tsx
  packages/helldoc-core/src/app/client.tsx
  packages/helldoc-core/src/app/server.tsx
  packages/helldoc-core/src/node/dev.ts
  packages/helldoc-core/src/node/prepare/genLayoutsFile.ts
  packages/helldoc-core/src/node/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/node/prepare/util.ts
  packages/helldoc-core/src/node/ssr.ts
  packages/helldoc-core/src/node/webpack/createBaseConfig.ts
  packages/helldoc-core/src/node/webpack/createClientConfig.ts
  packages/helldoc-core/src/node/webpack/createServerConfig.ts
  packages/helldoc-core/static/index.template.html
  yarn.lock
Due: prettier --write

perf($core): enhance SSR things (#26)
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/app.tsx
  packages/helldoc-core/src/app/client.tsx
  packages/helldoc-core/src/app/server.tsx
  packages/helldoc-core/src/node/dev.ts
  packages/helldoc-core/src/node/prepare/genLayoutsFile.ts
  packages/helldoc-core/src/node/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/node/prepare/util.ts
  packages/helldoc-core/src/node/ssr.ts
  packages/helldoc-core/src/node/webpack/createBaseConfig.ts
  packages/helldoc-core/src/node/webpack/createClientConfig.ts
  packages/helldoc-core/src/node/webpack/createServerConfig.ts
  packages/helldoc-core/static/index.template.html
  yarn.lock
Due: prettier --write

fix($default-theme): search id miss
  packages/theme-default/src/components/Search.tsx
Due: prettier --write

tweaks theme style
  packages/helldoc-core/src/app/components/GlobalLayout.tsx
  packages/helldoc-core/src/node/prepare/genRegistrationFile.ts
  packages/theme-default/src/ThemeLayout.tsx
  packages/theme-default/src/components/Search.tsx
  packages/theme-default/src/layouts/Layout.tsx
  packages/theme-default/styles/components/_search-box.scss
Due: prettier --write, stylelint --syntax=scss --fix

tweaks style
  packages/docs/DefaultTheme.md
  packages/docs/README.md
  packages/docs/default-theme-config.md
  packages/docs/guide.md
  packages/docs/hell.config.js
  packages/helldoc-core/src/app/components/LayoutManager.tsx
  packages/theme-default/styles/vendors/_markdown.scss
Due: prettier --write, stylelint --syntax=scss --fix

more readable
  packages/docs/public/favicon.png
  packages/docs/public/hell.png
  packages/helldoc-core/src/app/components/NotFound.tsx
  packages/theme-default/styles/abstracts/_theme.scss
  packages/theme-default/styles/abstracts/_variables.scss
  packages/theme-default/styles/components/_navbar.scss
  packages/theme-default/styles/components/_sidebar.scss
  packages/theme-default/styles/layout/_section.scss
  packages/theme-default/styles/vendors/_markdown.scss
Due: prettier --write, stylelint --syntax=scss --fix

docs
  packages/docs/README.md
  packages/docs/guide.md
  packages/docs/hell.config.js
  yarn.lock
Due: prettier --write

deploy docs
  docs/assets/css/4.styles.bb432427.css
  docs/assets/js/0.24692a2e.js
  docs/assets/js/1.573efea3.js
  docs/assets/js/2.3319624b.js
  docs/assets/js/39d41a09.js
  docs/assets/js/4.bb432427.js
  docs/default-theme-config.html
  docs/guide.html
  docs/index.html
Due: none

website (#27)
  docs/assets/css/4.styles.bb432427.css
  docs/assets/js/0.24692a2e.js
  docs/assets/js/1.573efea3.js
  docs/assets/js/2.3319624b.js
  docs/assets/js/39d41a09.js
  docs/assets/js/4.bb432427.js
  docs/default-theme-config.html
  docs/guide.html
  docs/index.html
  packages/docs/DefaultTheme.md
  packages/docs/README.md
  packages/docs/default-theme-config.md
  packages/docs/guide.md
  packages/docs/hell.config.js
  packages/docs/public/favicon.png
  packages/docs/public/hell.png
  packages/helldoc-core/src/app/components/LayoutManager.tsx
  packages/helldoc-core/src/app/components/NotFound.tsx
  packages/theme-default/styles/abstracts/_theme.scss
  packages/theme-default/styles/abstracts/_variables.scss
  packages/theme-default/styles/components/_navbar.scss
  packages/theme-default/styles/components/_sidebar.scss
  packages/theme-default/styles/layout/_section.scss
  packages/theme-default/styles/vendors/_markdown.scss
  yarn.lock
Due: prettier --write, stylelint --syntax=scss --fix

deploy docs
  docs/assets/js/95770a50.js
  docs/default-theme-config.html
  docs/guide.html
  docs/index.html
  packages/docs/hell.config.js
Due: none

temp
  packages/docs/.helldoc/config.yaml
  packages/docs/README.md
  packages/docs/hell.config.js
  packages/docs/posts/README.md
  packages/docs/posts/design.md
  packages/docs/posts/guide.md
  packages/docs/posts/theme.md
  packages/helldoc-core/package.json
  packages/helldoc-core/src/node/__tests__/fixtures/.helldoc/config.yaml
  packages/helldoc-core/src/node/process/server.ts
  packages/helldoc-core/src/node/process/siteConfig.ts
Due: prettier --write

add nana
  packages/helldoc-core/src/node/process/Nana.ts
  packages/helldoc-core/src/node/process/server.ts
  packages/helldoc-core/src/node/process/siteConfig.ts
  packages/helldoc-core/src/node/util/configLoader.ts
Due: prettier --write

add configLoader
  packages/helldoc-core/package.json
  packages/helldoc-core/src/node/__tests__/fixtures/.helldoc/yo.js
  packages/helldoc-core/src/node/__tests__/fixtures/.helldoc/yo.json
  packages/helldoc-core/src/node/__tests__/fixtures/.helldoc/yo.yaml
  packages/helldoc-core/src/node/__tests__/utils/configLoader.test.ts
  packages/helldoc-core/src/node/utils/configLoader.ts
Due: prettier --write

rename util -> utils
  packages/helldoc-core/src/node/__tests__/fixtures/.helldoc/config.yaml
  packages/helldoc-core/src/node/__tests__/utils/__snapshots__/heading.test.ts.snap
  packages/helldoc-core/src/node/__tests__/utils/alias.test.ts
  packages/helldoc-core/src/node/__tests__/utils/heading.test.ts
  packages/helldoc-core/src/node/__tests__/utils/matter.test.ts
  packages/helldoc-core/src/node/dev.ts
  packages/helldoc-core/src/node/nana/index.ts
  packages/helldoc-core/src/node/prepare/genLayoutsFile.ts
  packages/helldoc-core/src/node/prepare/resolveOptions.ts
  packages/helldoc-core/src/node/prod.ts
  packages/helldoc-core/src/node/util/configLoader.ts
  packages/helldoc-core/src/node/utils/alias.ts
  packages/helldoc-core/src/node/utils/heading.ts
  packages/helldoc-core/src/node/utils/matter.ts
  packages/helldoc-core/src/node/utils/regex.ts
  packages/helldoc-core/src/node/webpack/createBaseConfig.ts
  packages/helldoc-core/src/node/webpack/createClientConfig.ts
  packages/helldoc-core/src/node/webpack/createServerConfig.ts
  packages/helldoc-core/src/node/webpack/markdownLoader.ts
Due: prettier --write

add configLoader
  packages/docs/.helldoc/nana.config.yaml
  packages/docs/posts/design.md
  packages/helldoc-core/src/node/nana/index.ts
  packages/helldoc-core/src/node/utils/configLoader.ts
Due: prettier --write

fix test-case import path
  packages/helldoc-core/src/node/__tests__/utils/alias.test.ts
  packages/helldoc-core/src/node/__tests__/utils/heading.test.ts
  packages/helldoc-core/src/node/__tests__/utils/matter.test.ts
Due: prettier --write

add transformer
  packages/docs/pages/README.md
  packages/docs/pages/design.md
  packages/docs/pages/guide.md
  packages/docs/pages/theme.md
  packages/helldoc-core/package.json
  packages/helldoc-core/src/node/nana/Pages.ts
  packages/helldoc-core/src/node/nana/Renderer.ts
  packages/helldoc-core/src/node/nana/Transformers.ts
  packages/helldoc-core/src/node/nana/index.ts
  packages/helldoc-core/src/node/plugins/collectPages.ts
  packages/helldoc-core/src/node/plugins/transformerMarkdown.ts
  packages/helldoc-core/src/node/webpack/NanaLoader.ts
  tsconfig.json
Due: prettier --write

ignore fixtures js
  jest.config.js
Due: none

add nana test case
  packages/helldoc-core/src/node/__tests__/nana/index.test.ts
  packages/helldoc-core/src/node/nana/index.ts
  packages/helldoc-core/src/node/webpack/util.ts
Due: prettier --write

add transformer-markdown test
  packages/helldoc-core/src/node/__tests__/plugins/transformerMarkdown.test.ts
  packages/helldoc-core/src/node/nana/index.ts
Due: prettier --write

add cheap Renderer for hold the test-case
  .gitignore
  packages/helldoc-core/src/app/app.tsx
  packages/helldoc-core/src/app/client.tsx
  packages/helldoc-core/src/app/components/AppRouter.tsx
  packages/helldoc-core/src/app/components/GlobalLayout.tsx
  packages/helldoc-core/src/app/components/LayoutManager.tsx
  packages/helldoc-core/src/app/runtime.ts
  packages/helldoc-core/src/app/server.tsx
  packages/helldoc-core/src/node/dev.ts
  packages/helldoc-core/src/node/index.ts
  packages/helldoc-core/src/node/nana/Renderer.ts
  packages/helldoc-core/src/node/nana/index.ts
  packages/helldoc-core/src/node/plugins/collectPages.ts
  packages/helldoc-core/src/node/plugins/transformerMarkdown.ts
  packages/helldoc-core/src/node/prod.ts
  packages/helldoc-core/src/node/utils/alias.ts
  packages/helldoc-core/src/node/webpack/NanaLoader.ts
  packages/helldoc-core/src/node/webpack/createBaseConfig.ts
  packages/helldoc-core/src/node/webpack/createClientConfig.ts
  packages/helldoc-core/src/node/webpack/createServerConfig.ts
  packages/helldoc-core/tsconfig.json
  packages/theme-default/src/ThemeLayout.tsx
  packages/theme-default/src/components/Mask.tsx
  packages/theme-default/src/components/NavBar.tsx
  packages/theme-default/src/components/NavBarLinks.tsx
  packages/theme-default/src/components/Search.tsx
  packages/theme-default/src/components/Sidebar.tsx
  packages/theme-default/src/layouts/Layout.tsx
  packages/theme-default/src/themeConfig.ts
  packages/theme-default/tsconfig.json
Due: prettier --write

clear
  packages/helldoc-core/src/node/__tests__/prepare.test.ts
  packages/helldoc-core/src/node/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/node/prepare/index.ts
  packages/helldoc-core/src/node/webpack/createClientConfig.ts
Due: prettier --write

fix($theme): fix navbar toggle bug
  packages/theme-default/src/ThemeLayout.tsx
  packages/theme-default/src/layouts/Layout.tsx
Due: prettier --write

v0.5.1
  lerna.json
  packages/docs/package.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
  packages/theme-default/package.json
Due: none

upgrade deps
  yarn.lock
Due: none

chore(*): update deps
  .lintstagedrc
  package.json
  packages/helldoc-cli/package.json
  packages/helldoc-cli/src/index.ts
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/app.tsx
  packages/helldoc-core/src/app/client.tsx
  packages/helldoc-core/src/app/components/AppRouter.tsx
  packages/helldoc-core/src/app/components/LayoutManager.tsx
  packages/helldoc-core/src/app/components/NotFound.tsx
  packages/helldoc-core/src/app/server.tsx
  packages/helldoc-core/src/node/dev.ts
  packages/helldoc-core/src/node/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/node/prepare/util.ts
  packages/helldoc-core/src/node/prod.ts
  packages/helldoc-core/src/node/ssr.ts
  packages/helldoc-core/src/node/util/heading.ts
  packages/helldoc-core/src/node/util/matter.ts
  packages/helldoc-core/src/node/webpack/markdownLoader.ts
  packages/theme-default/src/ThemeLayout.tsx
  packages/theme-default/src/components/Heading.tsx
  packages/theme-default/src/components/Mask.tsx
  packages/theme-default/src/components/NavBar.tsx
  packages/theme-default/src/components/NavBarLinks.tsx
  packages/theme-default/src/components/Page.tsx
  packages/theme-default/src/components/Search.tsx
  packages/theme-default/src/components/Sidebar.tsx
  packages/theme-default/src/components/SidebarLinks.tsx
  packages/theme-default/src/components/Toc.tsx
  packages/theme-default/src/layouts/Layout.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write

v0.5.2
  lerna.json
  packages/docs/package.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
  packages/theme-default/package.json
Due: none

fix(theme-default): install miss style files
  packages/theme-default/package.json
Due: none

v0.5.3
  lerna.json
  packages/docs/package.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
  packages/theme-default/package.json
Due: none

fix(core): .html files handle
  docs/assets/css/4.styles.174234f8.css
  docs/assets/css/4.styles.bb432427.css
  docs/assets/js/0.24692a2e.js
  docs/assets/js/0.562a4625.js
  docs/assets/js/1.573efea3.js
  docs/assets/js/1.bcf4b8dd.js
  docs/assets/js/2.3319624b.js
  docs/assets/js/2.f054dddc.js
  docs/assets/js/4.174234f8.js
  docs/assets/js/6e928a3d.js
  docs/assets/js/95770a50.js
  docs/default-theme-config.html
  docs/guide.html
  docs/index.html
  packages/docs/hell.config.js
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/server.tsx
  packages/helldoc-core/src/node/prepare/resolveOptions.ts
  packages/helldoc-core/src/node/ssr.ts
  yarn.lock
Due: prettier --write

v0.6.0
  lerna.json
  packages/docs/package.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
  packages/theme-default/package.json
Due: none
