Repository fimars/Hell: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --syntax=scss --fix

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx,md}": ["prettier --write", "git add"],
    "*.scss": ["stylelint --syntax=scss --fix", "git add"]
  },
  "ignore": ["**/_reset.scss", "**/_markdown.scss"]
}

chore($app): review pr, tweaks code
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
  packages/helldoc-core/src/app/components/SideMask.tsx
Due: prettier --write

Merge pr 15 (#17)
  packages/docs/hell.config.js
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_search-box.scss
  packages/helldoc-core/assets/theme/components/_sidebar.scss
  packages/helldoc-core/assets/theme/index.scss
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
  packages/helldoc-core/src/app/components/SideMask.tsx
  packages/helldoc-core/src/app/components/Toc.tsx
  packages/helldoc-core/src/app/internal.d.ts
  packages/helldoc-core/tsconfig.json
Due: prettier --write, stylelint --syntax=scss --fix

[ Search ] Link bug fix
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
Due: prettier --write, stylelint --syntax=scss --fix

[ Search ] review fix #18
  packages/helldoc-core/src/app/components/Search.tsx
Due: prettier --write

search link bug fix (#18)
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
Due: prettier --write, stylelint --syntax=scss --fix

feat($app): add code highlight support
  .stylelintrc
  docs/assets/css/1.styles.438f2748.css
  docs/assets/js/2.965af21b.js
  docs/assets/js/app.a287f1a1.js
  docs/assets/js/styles.438f2748.js
  docs/favicon.png
  docs/hell.png
  docs/index.html
  packages/docs/README.md
  packages/helldoc-core/assets/theme/index.scss
  packages/helldoc-core/assets/theme/vendors/_highlight.scss
  packages/helldoc-core/assets/theme/vendors/_markdown.scss
  packages/helldoc-core/package.json
  packages/helldoc-core/src/markdown/index.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
  packages/helldoc-core/src/webpack/markdownLoader.ts
  yarn.lock
Due: prettier --write, stylelint --syntax=scss --fix

feat($app): add code highlight support (#19)
  .stylelintrc
  docs/assets/css/1.styles.438f2748.css
  docs/assets/js/2.965af21b.js
  docs/assets/js/app.a287f1a1.js
  docs/assets/js/styles.438f2748.js
  docs/favicon.png
  docs/hell.png
  docs/index.html
  packages/docs/README.md
  packages/helldoc-core/assets/theme/index.scss
  packages/helldoc-core/assets/theme/vendors/_highlight.scss
  packages/helldoc-core/assets/theme/vendors/_markdown.scss
  packages/helldoc-core/package.json
  packages/helldoc-core/src/markdown/index.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
  packages/helldoc-core/src/webpack/markdownLoader.ts
  yarn.lock
Due: prettier --write, stylelint --syntax=scss --fix

v0.3.1
  lerna.json
  packages/docs/package.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

update CHANGELOG
  CHANGELOG.md
Due: prettier --write

chore($app): move deps
  package.json
  packages/helldoc-core/package.json
Due: none

refactor($app): remove suspend, for ssr work
  package.json
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/app.tsx
  packages/helldoc-core/src/app/client.tsx
  packages/helldoc-core/src/app/components/App.tsx
  packages/helldoc-core/src/app/components/Base.tsx
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Page.tsx
  packages/helldoc-core/src/app/genApplicationRouter.tsx
  packages/helldoc-core/src/app/internal.d.ts
  packages/helldoc-core/src/app/server.tsx
  packages/helldoc-core/src/app/ssr.ts
  packages/helldoc-core/src/dev.ts
  packages/helldoc-core/src/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/prod.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
  packages/helldoc-core/src/webpack/createClientConfig.ts
  packages/helldoc-core/src/webpack/markdownLoader.ts
  yarn.lock
Due: prettier --write

simple ssr and export html try
  packages/docs/README.1.md
  packages/docs/README.2.md
  packages/docs/hell.config.js
  packages/helldoc-core/src/app/client.tsx
  packages/helldoc-core/src/app/genApplicationRouter.tsx
  packages/helldoc-core/src/app/internal.d.ts
  packages/helldoc-core/src/app/server.tsx
  packages/helldoc-core/src/app/ssr.ts
  packages/helldoc-core/src/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/prod.ts
Due: prettier --write

let code readable
  packages/docs/README.1.md
  packages/docs/README.2.md
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/app.tsx
  packages/helldoc-core/src/app/bundle.tsx
  packages/helldoc-core/src/app/client.tsx
  packages/helldoc-core/src/app/data/routers.tsx
  packages/helldoc-core/src/app/server.tsx
  packages/helldoc-core/src/app/ssr.ts
  packages/helldoc-core/src/prod.ts
  packages/helldoc-core/src/webpack/createClientConfig.ts
  yarn.lock
Due: prettier --write

remove unused code
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/bundle.tsx
  packages/helldoc-core/src/app/internal.d.ts
  packages/helldoc-core/src/dev.ts
  packages/helldoc-core/src/prod.ts
  packages/helldoc-core/src/webpack/createClientConfig.ts
  packages/helldoc-core/src/webpack/createServerConfig.ts
  yarn.lock
Due: prettier --write

resolve head
  packages/helldoc-core/src/app/ssr.ts
  packages/helldoc-core/src/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/prod.ts
Due: prettier --write

tweaks deps
  packages/helldoc-core/package.json
Due: none

rewrite the ssr part
  packages/helldoc-core/assets/index.template.html
  packages/helldoc-core/src/app/server.tsx
  packages/helldoc-core/src/app/ssr.ts
  packages/helldoc-core/src/prod.ts
  packages/helldoc-core/src/ssr.ts
  packages/helldoc-core/src/webpack/createServerConfig.ts
Due: prettier --write

tweaks log
  docs/README.1.html
  docs/README.2.html
  docs/assets/css/1.styles.13059927.css
  docs/assets/js/client.151233ab.js
  docs/assets/js/styles.13059927.js
  docs/favicon.png
  docs/hell.png
  docs/index.html
  packages/helldoc-core/src/prod.ts
Due: prettier --write

tweaks
  packages/helldoc-core/src/ssr.ts
Due: prettier --write

remove unused files
  docs/README.1.html
  docs/README.2.html
  docs/assets/css/1.styles.13059927.css
  docs/assets/js/client.151233ab.js
  docs/assets/js/styles.13059927.js
  docs/favicon.png
  docs/hell.png
  docs/index.html
  packages/docs/README.1.md
  packages/docs/README.2.md
Due: prettier --write

feature($core): export html files (#20)
  package.json
  packages/docs/hell.config.js
  packages/helldoc-core/assets/index.template.html
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/bundle.tsx
  packages/helldoc-core/src/app/client.tsx
  packages/helldoc-core/src/app/components/App.tsx
  packages/helldoc-core/src/app/components/Base.tsx
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Page.tsx
  packages/helldoc-core/src/app/data/routers.tsx
  packages/helldoc-core/src/app/server.tsx
  packages/helldoc-core/src/dev.ts
  packages/helldoc-core/src/prepare/genRegistrationFile.ts
  packages/helldoc-core/src/prod.ts
  packages/helldoc-core/src/ssr.ts
  packages/helldoc-core/src/webpack/createBaseConfig.ts
  packages/helldoc-core/src/webpack/createClientConfig.ts
  packages/helldoc-core/src/webpack/createServerConfig.ts
  packages/helldoc-core/src/webpack/markdownLoader.ts
  yarn.lock
Due: prettier --write

v0.4.0
  lerna.json
  packages/docs/package.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

chore(tweaks babel setting):
  packages/helldoc-core/src/webpack/createBaseConfig.ts
Due: prettier --write

fix windows path resolve error
  packages/helldoc-core/src/prepare/genRegistrationFile.ts
Due: prettier --write

anchor link jump
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_sidebar.scss
  packages/helldoc-core/assets/theme/vendors/_markdown.scss
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/components/Link.tsx
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
  packages/helldoc-core/src/app/components/Toc.tsx
  packages/helldoc-core/src/util/index.ts
  yarn.lock
Due: prettier --write, stylelint --syntax=scss --fix

#21 review
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/components/Link.tsx
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
  packages/helldoc-core/src/app/components/Toc.tsx
  packages/helldoc-core/src/prepare/resolveOptions.ts
Due: prettier --write

feature($app): better-link (#22)
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_sidebar.scss
  packages/helldoc-core/assets/theme/vendors/_markdown.scss
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
  packages/helldoc-core/src/app/components/Toc.tsx
  packages/helldoc-core/src/prepare/resolveOptions.ts
  packages/helldoc-core/src/util/index.ts
  yarn.lock
Due: prettier --write, stylelint --syntax=scss --fix

Rename _Navbar.scss to _navbar.scss
  packages/helldoc-core/assets/theme/components/_navbar.scss
Due: stylelint --syntax=scss --fix

fix($app): better markdown link match regex
  packages/helldoc-core/src/app/components/Toc.tsx
Due: prettier --write

almost done
  packages/docs/Post.md
  packages/docs/hell.config.js
  packages/helldoc-core/src/app/components/GlobalLayout.tsx
  packages/helldoc-core/src/app/components/LayoutManager.tsx
  packages/helldoc-core/src/app/runtime.ts
  packages/helldoc-core/src/node/webpack/createBaseConfig.ts
  packages/helldoc-core/src/node/webpack/markdownLoader.ts
  packages/theme-blog/src/browser.ts
  packages/theme-blog/src/components/Mask.tsx
  packages/theme-blog/src/components/NavBar.tsx
  packages/theme-blog/src/components/NavBarLinks.tsx
  packages/theme-blog/src/components/Search.tsx
  packages/theme-blog/src/components/SideMask.tsx
  packages/theme-blog/src/components/Sidebar.tsx
  packages/theme-blog/src/components/SidebarLinks.tsx
  packages/theme-blog/src/components/Toc.tsx
  packages/theme-blog/src/layouts/Index.tsx
  packages/theme-blog/src/layouts/Layout1.tsx
  packages/theme-blog/src/navs.tsx
  packages/theme-blog/src/themeConfig.ts
  packages/theme-blog/styles/components/_sidebar.scss
Due: prettier --write, stylelint --syntax=scss --fix

reset the log plugin
  packages/helldoc-core/src/node/dev.ts
  packages/helldoc-core/src/node/prepare/util.ts
  packages/helldoc-core/src/node/webpack/DevLogPlugin.ts
  packages/helldoc-core/src/node/webpack/createBaseConfig.ts
Due: prettier --write

rename to theme-default
  packages/theme-default/.npmignore
  packages/theme-default/package.json
  packages/theme-default/src/browser.ts
  packages/theme-default/src/components/Heading.tsx
  packages/theme-default/src/components/Mask.tsx
  packages/theme-default/src/components/NavBar.tsx
  packages/theme-default/src/components/NavBarLinks.tsx
  packages/theme-default/src/components/Page.tsx
  packages/theme-default/src/components/Search.tsx
  packages/theme-default/src/components/Sidebar.tsx
  packages/theme-default/src/components/SidebarLinks.tsx
  packages/theme-default/src/components/Toc.tsx
  packages/theme-default/src/layouts/Index.tsx
  packages/theme-default/src/layouts/Post.tsx
  packages/theme-default/src/themeConfig.ts
  packages/theme-default/styles/abstracts/_mixin.scss
  packages/theme-default/styles/abstracts/_theme.scss
  packages/theme-default/styles/abstracts/_variables.scss
  packages/theme-default/styles/abstracts/mixins/_border-radius.scss
  packages/theme-default/styles/abstracts/mixins/_box-shadow.scss
  packages/theme-default/styles/abstracts/mixins/_columns.scss
  packages/theme-default/styles/abstracts/mixins/_transition.scss
  packages/theme-default/styles/base/_typography.scss
  packages/theme-default/styles/components/_button.scss
  packages/theme-default/styles/components/_list.scss
  packages/theme-default/styles/components/_navbar.scss
  packages/theme-default/styles/components/_search-box.scss
  packages/theme-default/styles/components/_sidebar.scss
  packages/theme-default/styles/index.scss
  packages/theme-default/styles/layout/_columns.scss
  packages/theme-default/styles/layout/_section.scss
  packages/theme-default/styles/vendors/_highlight.scss
  packages/theme-default/styles/vendors/_markdown.scss
  packages/theme-default/styles/vendors/_reset.scss
  packages/theme-default/tsconfig.json
Due: prettier --write, stylelint --syntax=scss --fix

tweaks default-theme style
  packages/theme-default/src/components/Heading.tsx
  packages/theme-default/src/components/Sidebar.tsx
  packages/theme-default/src/components/Toc.tsx
  packages/theme-default/src/layouts/Index.tsx
  packages/theme-default/src/layouts/Layout.tsx
  packages/theme-default/styles/abstracts/_variables.scss
  packages/theme-default/styles/components/_list.scss
  packages/theme-default/styles/components/_navbar.scss
  packages/theme-default/styles/components/_sidebar.scss
Due: prettier --write, stylelint --syntax=scss --fix

fix error with ssr
  packages/docs/DefaultTheme.md
  packages/docs/Post.md
  packages/docs/README.md
  packages/docs/hell.config.js
  packages/docs/package.json
  packages/helldoc-core/package.json
  packages/helldoc-core/src/node/__tests__/webpack/util.test.ts
  packages/helldoc-core/src/node/dev.ts
  packages/helldoc-core/src/node/prepare/index.ts
  packages/helldoc-core/src/node/prepare/resolveOptions.ts
  packages/helldoc-core/src/node/prepare/util.ts
  packages/helldoc-core/src/node/prod.ts
  packages/helldoc-core/src/node/util/alias.ts
  packages/helldoc-core/src/node/webpack/createBaseConfig.ts
  packages/helldoc-core/src/types.ts
  yarn.lock
Due: prettier --write

tweaks
  packages/helldoc-core/src/node/prepare/util.ts
  packages/theme-default/src/components/Sidebar.tsx
Due: prettier --write

rewrite search
  packages/theme-default/src/components/Search.tsx
Due: prettier --write
