Repository fimars/Hell: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --syntax=scss --fix

.lintstagedrc:

{
  "linters": {
    "*.{ts,tsx,md}": ["prettier --write", "git add"],
    "*.scss": ["stylelint --syntax=scss --fix", "git add"]
  },
  "ignore": ["**/_reset.scss", "**/_markdown.scss"]
}

[ Style ] Sidebar width max-width: 959px
  packages/helldoc-core/assets/theme/components/_sidebar.scss
Due: stylelint --syntax=scss --fix

[ Update ] .gitignore
  .npmignore
Due: none

[ update ] .gitignore
  .npmignore
Due: none

[ Update ] .gitignore
  .gitignore
  packages/helldoc-core/assets/theme/components/_sidebar.scss
Due: stylelint --syntax=scss --fix

delete eixt
  eixt
Due: none

[ Update ] play back .npmignore
  .npmignore
Due: none

'Pre-commit'
  packages/helldoc-core/assets/theme/base/_typography.scss
  packages/helldoc-core/assets/theme/mobilesidebar/_sidebar.scss
  packages/helldoc-core/assets/theme/navbar/_Navbar.scss
Due: stylelint --syntax=scss --fix

'Pre-commit'
  packages/helldoc-core/assets/theme/mobilesidebar/_sidebar.scss
Due: stylelint --syntax=scss --fix

Stlye: sidebar style
  packages/helldoc-core/assets/theme/mobilesidebar/_sidebar.scss
Due: stylelint --syntax=scss --fix

[ Style ] Sidebar style scss file move to components
  eixt
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_mobile.scss
  packages/helldoc-core/assets/theme/components/_sidebar.scss
  packages/helldoc-core/assets/theme/index.scss
Due: stylelint --syntax=scss --fix

[ Style ] styling
  packages/helldoc-core/assets/theme/components/_sidebar.scss
Due: stylelint --syntax=scss --fix

[ Style ] Sidebar width remove file mobile.scss
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_mobile.scss
  packages/helldoc-core/assets/theme/index.scss
Due: stylelint --syntax=scss --fix

[ Rabase ] Search bar
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
Due: prettier --write

'Pre-commit'
  .gitignore
  packages/helldoc-core/assets/theme/base/_typography.scss
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_sidebar.scss
  packages/helldoc-core/assets/theme/index.scss
  packages/helldoc-core/assets/theme/mobile/_mobile.scss
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
Due: prettier --write, stylelint --syntax=scss --fix

chore($workflow): remove unused gitignore, add yarn tsc with yarn dev
  .gitignore
  package.json
Due: none

v0.3.0
  lerna.json
  packages/docs/package.json
  packages/helldoc-cli/package.json
  packages/helldoc-core/package.json
Due: none

update CHANGELOG
  CHANGELOG.md
Due: prettier --write

[ New Feature ] Search bar
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_search-box.scss
  packages/helldoc-core/assets/theme/index.scss
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
  packages/helldoc-core/src/app/components/sideMask.tsx
Due: prettier --write, stylelint --syntax=scss --fix

refactor(remove repeat function):
  packages/helldoc-core/assets/theme/vendors/_markdown.scss
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Toc.tsx
  packages/helldoc-core/src/app/util.tsx
Due: prettier --write, stylelint --syntax=scss --fix

feat($core): export pages' header info
  packages/helldoc-core/package.json
  packages/helldoc-core/src/app/components/App.tsx
  packages/helldoc-core/src/prepare/resolveOptions.ts
  packages/helldoc-core/src/types.ts
  packages/helldoc-core/src/util/index.ts
Due: prettier --write

[ Feature ] Search function
  packages/docs/hell.config.js
  packages/helldoc-core/assets/theme/components/_search-box.scss
  packages/helldoc-core/src/app/components/App.tsx
  packages/helldoc-core/src/app/components/Search.tsx
  packages/helldoc-core/src/app/internal.d.ts
Due: prettier --write, stylelint --syntax=scss --fix

style($app): rewiew PR and make code clear
  packages/helldoc-core/assets/theme/abstracts/_variables.scss
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_sidebar.scss
  packages/helldoc-core/assets/theme/index.scss
  packages/helldoc-core/assets/theme/layout/_columns.scss
  packages/helldoc-core/assets/theme/layout/_section.scss
  packages/helldoc-core/src/app/components/App.tsx
  packages/helldoc-core/src/app/components/Heading.tsx
  packages/helldoc-core/src/app/components/Layout.tsx
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Page.tsx
  packages/helldoc-core/src/app/components/Toc.tsx
  packages/helldoc-core/src/app/data/navs.tsx
  packages/helldoc-core/src/app/internal.d.ts
  packages/helldoc-core/src/app/reduxReducer/reducer.ts
  packages/helldoc-core/src/app/store/actions.ts
  packages/helldoc-core/src/app/store/reducer.ts
  packages/helldoc-core/src/app/store/types.ts
  packages/helldoc-core/src/webpack/DevLogPlugin.ts
  packages/helldoc-core/src/webpack/markdownLoader.ts
Due: prettier --write, stylelint --syntax=scss --fix

chore($app): $side-width -> $side-height
  packages/helldoc-core/assets/theme/abstracts/_variables.scss
  packages/helldoc-core/assets/theme/components/_sidebar.scss
  packages/helldoc-core/assets/theme/layout/_section.scss
Due: stylelint --syntax=scss --fix

Revert "chore($app): $side-width -> $side-height"
  packages/helldoc-core/assets/theme/abstracts/_variables.scss
  packages/helldoc-core/assets/theme/components/_sidebar.scss
  packages/helldoc-core/assets/theme/layout/_section.scss
Due: stylelint --syntax=scss --fix

[ Function ] Search function almost done
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Search.tsx
  packages/helldoc-core/src/app/components/Toc.tsx
  packages/helldoc-core/tsconfig.json
Due: prettier --write

chore($app): tweaks style
  packages/helldoc-core/assets/theme/vendors/_markdown.scss
  packages/helldoc-core/src/webpack/DevLogPlugin.ts
Due: prettier --write, stylelint --syntax=scss --fix

chore($core): tweaks
  packages/helldoc-core/src/webpack/HeadPlugin.ts
Due: prettier --write

[ Feature ] Search
  packages/helldoc-core/src/app/components/Search.tsx
Due: prettier --write

[ Feature ] Search
  packages/helldoc-core/assets/theme/abstracts/_variables.scss
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/components/_sidebar.scss
  packages/helldoc-core/assets/theme/index.scss
  packages/helldoc-core/assets/theme/layout/_columns.scss
  packages/helldoc-core/assets/theme/layout/_section.scss
  packages/helldoc-core/assets/theme/vendors/_markdown.scss
  packages/helldoc-core/src/app/components/App.tsx
  packages/helldoc-core/src/app/components/Heading.tsx
  packages/helldoc-core/src/app/components/Layout.tsx
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/Page.tsx
  packages/helldoc-core/src/app/components/Toc.tsx
  packages/helldoc-core/src/app/data/navs.tsx
  packages/helldoc-core/src/app/reduxReducer/reducer.ts
  packages/helldoc-core/src/app/store/actions.ts
  packages/helldoc-core/src/app/store/reducer.ts
  packages/helldoc-core/src/app/store/types.ts
  packages/helldoc-core/src/webpack/DevLogPlugin.ts
  packages/helldoc-core/src/webpack/HeadPlugin.ts
  packages/helldoc-core/src/webpack/markdownLoader.ts
Due: prettier --write, stylelint --syntax=scss --fix

Revert "[ Feature ] Search"
  packages/helldoc-core/src/app/components/Search.tsx
Due: prettier --write

[ Git Head Reset ] Everything about search done
  .gitignore
  packages/helldoc-core/assets/theme/components/_Navbar.scss
  packages/helldoc-core/assets/theme/layout/_columns.scss
  packages/helldoc-core/src/app/components/Layout.tsx
  packages/helldoc-core/src/app/components/NavBar.tsx
  packages/helldoc-core/src/app/components/sideMask.tsx
  packages/helldoc-core/src/app/data/navs.tsx
  packages/helldoc-core/src/app/store/actions.ts
  packages/helldoc-core/src/app/store/reducer.ts
  packages/helldoc-core/src/app/store/types.ts
Due: prettier --write, stylelint --syntax=scss --fix

chore($app): style tweaks
  packages/helldoc-core/assets/theme/components/_sidebar.scss
Due: stylelint --syntax=scss --fix
